torch==1.3.1
torchvision==0.4.2
scikit-image==0.15.0

git+https://aicsbitbucket.corp.alleninstitute.org/scm/assay/dl_model_zoo.git@0.1.0.20200806-pipeline-compatible #dl_model_zoo
git+https://github.com/AllenCellModeling/pytorch_fnet.git@ad_customization #fnet
-e git+https://aicsbitbucket.corp.alleninstitute.org/scm/assay/cell_detector.git#egg=cell_detector #cell_detector